{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps,[
    {ephp, {git, "https://github.com/bragful/ephp.git", {branch, "master"}}},
    {jsone, {git, "https://github.com/altenwald/jsone.git", {branch, "master"}}}
]}.

{escript_incl_apps, [ezic,zucchini,unistring,jsone]}.
{escript_emu_args, "%%! -pa ephp/ephp/ebin -pa ephp/ezic/ebin -pa ephp/zucchini/ebin -pa ephp/jsone/ebin\n"}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{profiles, [
    {doc, [
        {plugins, [
            {rebar_edown_plugin,
                {git, "git://github.com/altenwald/rebar_edown_plugin.git", {branch, "master"}}
            }
        ]},

        {edoc_opts,[
            {doclet, edown_doclet},
            {edown_target, github},
            {top_level_readme, {"./README.md", "http://github.com/altenwald/ephp"}}
        ]}
    ]}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.

