{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps,[
    {ephp, {git, "https://github.com/bragful/ephp.git", {branch, "master"}}},
    {jsone, {git, "https://github.com/altenwald/jsone.git", {branch, "master"}}}
]}.

{escript_incl_apps, [ephp, jsone, ezic, zucchini, unistring, recon, ephp_json]}.
{escript_emu_args, "%%! -pa ephp/ephp/ebin "
                       "-pa ephp/ephp_json/ebin "
                       "-pa ephp/jsone/ebin "
                       "-pa ephp/ezic/ebin "
                       "-pa ephp/zucchini/ebin "
                       "-pa ephp/recon/ebin\n"}.
{escript_main_app, ephp}.
{escript_name, "ephp"}.

{project_plugins, [rebar3_hex, covertool]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{profiles, [
    {doc, [
        {plugins, [rebar_edown_plugin]},

        {edoc_opts,[
            {doclet, edown_doclet},
            {edown_target, github},
            {top_level_readme, {"./README.md", "http://github.com/bragful/ephp_json"}}
        ]}
    ]}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.
